#pageDiv {
  z-index:0;
}
/*Имеем блок шириной 50%, чтобы выровнять его по центру,
нам нужно боковые отступы сделать по 25% справа и слева
соответственно.Смотрим код:*/
#cardBlock {
  position:absolute;
  margin:5% 30% 0% 30%;
  width:40%;
  height:50%;
}

.cardOnTheTable0 {
  position:absolute;
  left: 0px;
  transform: scale(0.75);
  transition: all 0s ease-in-out;
  z-index:1;
}
.cardOnTheTable1 {
  position:absolute;
  left: 250px;
  transform: scale(1.25);
  transition: all 0s ease-in-out;
  z-index:2;
}
.cardOnTheTable2 {
  position:absolute;
  left: 500px;
  transform: scale(0.75);
  transition: all 0s ease-in-out;
  z-index:3;
}
.cardValue {
  /*Параметры текста*/
  position: absolute;
  font-size: 100%;
  left: 10px;
  top: 50px;
}
